@keyframes color {
  0%   { background: rgb(1, 87, 89) }
  20%  { background: #0b525bff }
  40%  { background: #1b3a4bff }
  60%  { background: #272640ff }
  80%  { background: #3e1f47ff }
  100% { background: #0b525bff }
}

body {
  background: #33CCCC; /* Fallback */
  animation: color 9s infinite linear;
  text-align: center;
  padding: 2em;
}

a:visited {
  color: rgb(97, 93, 93);
}

.header {
  color: #ff568e;
    text-align: center;
    margin: 50px auto 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: #ff568e solid 5px;
    border-radius: 40px;
}

  .card {
    width: 210px;
    height: 254px;
    margin: 50px auto 50px;
    border-radius: 4px;
    background: transparent;
    display: flex;
    place-items: center;
    place-content: center;
    gap: 15px;
    padding: .4em;
  }
  
  .card p {
    height: 100%;
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    border-radius: 40px;
    transition: all .5s;
    background: #212121;
    border: 3px solid #ff5a91;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(0, 0, 0) 0 0 10px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .card p:hover {
    flex: 4;
  }
  
  .card p span {
    min-width: 14em;
    padding: .5em;
    text-align: center;
    transform: rotate(-90deg);
    transition: all .5s;
    text-transform: uppercase;
    color: #ff568e;
    letter-spacing: .1em;
    text-decoration: none;
  }
  
  .card p:hover span {
    transform: rotate(0);
  }

.header:hover {
    text-shadow: rgb(244, 84, 84) 0 0 10px;
    box-shadow: rgb(0, 0, 0) 0 0 10px;
}

.btn {
  position: relative;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2.5em;
  display: inline-block;
  border-radius: 6em;
  transition: all .2s;
  border: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  color: black;
  background-color: white;
 }
 
 .btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
 }
 
 .btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
 }
 
 .btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
 }
 
 .btn::after {
  background-color: #fff;
 }
 
 .btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
 }